<header class="main_header">
  <h1 class='erg_leads ui header'>
    <div class='content'>
      ERG Contact Book
      <div class='sub header'>Managing contacts your way.</div>
    </div>
  </h1>
  <div class="login_menu">
    <% if user_signed_in? %>
    <div class='current_user'><%= @current_user&.email %></div>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'ui button blue') %>
    <% else %>
    <span></span>
    <%= link_to('Login', new_user_session_path, class: 'ui button blue')  %>
    <% end %>
  </div>
</header>
