@import 'react-table/react-table.css';

$primary_color: #e6d4bb;
$secondary_color: #ccc;
$background: #fafafa;
$warn_color: darkred;
$black: #333;
$title_font: 24px;
$large_font: 16px;
$base_font: 13px;
$sm_font: 11px;

body {
  color: $black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: $base_font;
}
h1 { font-size: $title_font; font-weight: 500; }
label { font-size: $base_font; font-weight: 500; }
li { list-style: none; }

.notice, .alert {
  font-size: $base_font;
  margin: 10px 0px;
}
.alert { color: $warn_color; }

.main_header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 'header menu';
  background: $primary_color;
  align-items: center;
  padding: 15px 30px;

  .erg_leads {
    grid-area: 'header';
    margin: 0;
  }

  .login_menu {
    grid-area: 'menu';
    display: flex;
    justify-content: space-between;
  }
}

#error_explanation {
  color: $warn_color;
  font-size: $base_font;
}

.ui.form .field {  margin: 0 0 4px 0 };

.devise_form_container {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2px;
}

.ui.form.login_form {
  margin-bottom: 10px;
  .field {
    margin-bottom: 20px;
  }
}

.contact-app-container {
  display: grid;
  grid-template-columns: auto [main] 1040px auto;
  grid-template-rows: auto;
}

.contact-app-main {
  grid-column: main;
  padding: 20px;
}

.table-navigation {
  display: flex;
  flex-direction: row;
  background: #ccc;
  text-align: center;
  align-items: stretch;
  margin-bottom: 5px;

  > div.active-link {
    background: #aaa;
  }

  > div {
    margin: auto;
    padding: 20px;
    cursor: pointer;
    flex: 1;
    &:hover {
      background: #888;
    }
  }
}

.contact-app-container {
  background: $background;
}

.ReactTable {
  background: white;
}

.venue-form-page {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 5px;
}

.venue-navigation {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 40% 30%;
  grid-column-gap: 8px;
  margin-bottom: 10px;
}

.ui.search>.results { overflow: scroll; max-height: 300px; }

.field-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100px auto;
  grid-template-areas: "forml formf" "blank errors";
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  .forml { grid-area: forml; text-align: right; align-self:center; size: 1em }
  .formf { grid-area: formf; }
  .has-errors { grid-area: errors; color: #9f3a38; }
}
