@import '~bootstrap/scss/bootstrap';

.contact-app-container {
  display: grid;
  grid-template-columns: auto [main] 840px auto;
  grid-template-rows: auto;
}

.contact-app-main {
  grid-column: main;
  padding: 20px;
  border: 1px solid #ccc;
}
