@import '~bootstrap/scss/bootstrap';
@import 'react-table/react-table.css';

.contact-app-container {
  display: grid;
  grid-template-columns: auto [main] 840px auto;
  grid-template-rows: auto;
}

.contact-app-main {
  grid-column: main;
  padding: 20px;
}

.table-navigation {
  display: flex;
  flex-direction: row;
  background: #ccc;
  text-align: center;
  align-items: stretch;
  margin-bottom: 5px;

  > div.active-link {
    background: #aaa;
  }

  > div {
    margin: auto;
    padding: 20px;
    cursor: pointer;
    flex: 1;
    &:hover {
      background: #888;
    }
  }
}
